// Base Colors
$black: #000;
$white: #FFF;

// Branding Colors
$background-dark: #F0F0F0;
$background-light: $white;
$border-color: #CCC;
$font-color: #707070;
$font-color-dark: #333;
$primary-color: #205081;
$secondary-color: #59AfE1;
